
.slide-up-anim{
    animation:slide-up .3s ease-out;
}

.slide-down-anim{
    animation:slide-down .3s ease-in;
}

@keyframes slide-down {
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0%);
    }
}

@keyframes slide-up {
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(0%);
    }
}